CT_CONFIG_VERSION="3"
CT_WORK_DIR="${BUILDDIR:-${CT_TOP_DIR}}/.build"
# CT_PREFIX_DIR_RO is not set
CT_PATCH_BUNDLED_LOCAL=y
CT_LOCAL_PATCH_DIR="${CT_TOP_DIR}/patches"
# CT_LOG_PROGRESS_BAR is not set
CT_ARCH_AVR=y
CT_STATIC_TOOLCHAIN=y
CT_TOOLCHAIN_BUGURL="https://github.com/rafaelmartins/avr-toolchain"
CT_CC_LANG_CXX=y
# CT_CC_GCC_ENABLE_DEFAULT_PIE is not set
CT_DEBUG_GDB=y
