CT_CONFIG_VERSION="4"
CT_WORK_DIR="${BUILDDIR:-${CT_TOP_DIR}}/.build"
# CT_PREFIX_DIR_RO is not set
CT_PATCH_BUNDLED_LOCAL=y
CT_LOCAL_PATCH_DIR="${CT_TOP_DIR}/patches"
# CT_LOG_PROGRESS_BAR is not set
CT_ARCH_AVR=y
CT_TOOLCHAIN_BUGURL="https://github.com/rafaelmartins/avr-toolchain"
# CT_CC_GCC_ENABLE_TARGET_OPTSPACE is not set
CT_CC_LANG_CXX=y
CT_DEBUG_GDB=y
# CT_GDB_CROSS_PYTHON is not set
